<section>
    <div class="container">
      <div class="title center">
        <h4 class="upper">We have a few tips for you.</h4>
        <h2>The Blog<span class="red-dot"></span></h2>
        <hr>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="blog-post">
              <div class="post-body">

                 
                      <h3 class="serif"><a href="#"> <%= post.title %> </a></h3>
                    <hr>

                    <img src="<%= post.photo %>" alt=""> 
                    <p class="serif"><%= post.subtitle %></p>
                    <div class="post-info upper"><a href="#"></a><span class="pull-right black-text"><%= post.date %></span>

                
            

                </div> 
              </div>
              <!-- end of blog post-->
            </div>
            
             
          </div>
        </div>
        <!-- end of row-->
        <div class="clearfix"></div>
        <div class="mt-25">
          <p class="text-center"><a href="#" class="btn btn-color-out">View Full Blog          </a>
          </p>
        </div>
      </div>
      <!-- end of container-->
    </div>
  </section>
